html{
  
}

body {
  font-family: $font;
  margin-top: 104px;
  background-color: $grey;
  color: $copy;
  line-height: 1.5;

  @media screen and (max-width: 800px){
    margin-top: 86px;
  }

  p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: $copy;
  }
}

h1,.alpha {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.425
}

h2,.beta {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875
}

h3,.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.58333
}

h4,.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.9
}

h5,.epsilon {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.35714
}

h6,.zeta {
  font-size: 10px;
  font-size: .625rem;
  line-height: 1.9
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: 500;
  margin: 0 0 15px;
  color: $copy
}

.logged-in {
  header {
    margin-top: 32px;
  }
} 

.banner-title {
  padding: 50px 0;
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}