html{
  
}

body {
  font-family: $font;
  background-color: $white;
  color: $copy;
  line-height: 1.5;
	font-size: 16px;

  p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: $copy;
  }
}

.logged-in {
  header {
    margin-top: 32px;
  }
} 

.banner-title {
  padding: 50px 0;
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}


.module {
	+.module {
		margin-top: -$margin-desk;

		@media (max-width: $lap-start) {
			margin-top: -$margin-lap;
		}

		@media (max-width: $mobile-start) {
			margin-top: -$margin-mobile;
		}
	}
	+.wp-block-image {
	}
}

.wp-block-image {
	@extend .mt;
	@extend .mb;

	+.module {
		margin-top: $margin-desk;

		@media (max-width: $lap-start) {
			margin-top: $margin-lap;
		}

		@media (max-width: $mobile-start) {
			margin-top: $margin-mobile;
		}
	}
}