.button {
  display: inline-block;
  background-color: $copy;
  padding: 14px 20px 12px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .2s background-color ease;
  transition: .2s background-color ease;
  font-size: 13px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
  }

  &--blue{
    background-color: $jafar-blue;
    &:hover {
      background-color: $jafar-dark-blue;
    }
  }

  &--disabled {
    opacity: .5;
    cursor: no-drop;
  }
}