.m04 {
	background-color: var(--bg--secondary);
	text-align: center;

	&__tag {
	}

	&__title {
		font-weight: 700;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		margin: 3rem -8px 0;
		justify-content: center;

		.m04__grid__item {
			opacity: 0;
			&.effect--ready {
				animation-duration: 1s;
				animation-fill-mode: both;
				opacity: 0;
				animation-name: fadeInUp;
				animation-delay: 0s;
	
				@for $i from 2 through 20 {
					&:nth-child(#{$i}) {
						animation-delay: #{($i * 0.1)}s;
					}
				}
			}
			
		}

		&__item {
			width: calc(25% - 16px);
			margin: 0 8px 16px;

			@media (max-width: $desk-start) {
				width: calc(33.3% - 16px);
			}

			@media (max-width: $lap-start) {
				width: calc(50% - 16px);
			}
		}
	}
	

	&__card {
		transition: all 0.2s ease;
		padding: 2.5rem 1rem;
		background-color: var(--bg);
		border: 1px solid var(--bg);
		border-radius: 6px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		min-height: 100px;
		height: 100%;

		.image {
			max-height: 50px;
			max-width: 50px;
			margin: 0 auto;
		}

		h3 {
			font-weight: 500;
			font-size: 1rem;
			margin: 2rem 0 0;
			text-align: center;
		}

		&:hover {
			transform: translateY(-1px);
			box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
		}
	}
}
