.m07 {
	&__title {
		&__text {

		}
	}

	&__meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		&__item {
			width: 50%;
			
			@media (max-width: $mobile-start) {
				width: 100%;
			}

			p{
				margin: 0 0 10px;
				font-weight: 600;
			}

			&:last-of-type {
				p{
					text-align: right;
					@media (max-width: $mobile-start) {
						text-align: left;
					}
				}
			}
		}
	}

	&__img {
		margin: 30px auto 40px;
		display: block;
		width: 900px;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__text {
			width: calc(66.7% - 80px);

			@media (max-width: $desk-start) {
				width: 100%;
			}
		}

		&__skills {
			width: 33.3%;

			@media (max-width: $desk-start) {
				width: 100%;
			}
		}

		&__buttons {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 20px 0;
			

			a {
				margin: 10px 10px 10px;
				
			}

			&__disclaimer {
				width: 100%;
				margin: 20px 0 0;
				text-align: center;
				font-weight: 600;
			}
		}

		&__nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			margin: 0 0 10px;
			&__item {
				a{
					font-weight: 600;
					text-decoration: none;
					display: flex;
					align-items: center;
					&:hover {
						p{
							text-decoration: underline;

						}
						span {
							text-decoration: none;
						
						}
						
					}

					span {
						font-size: 21px;
						margin-top: -4px;
						line-height: normal;
					}
				}

				&--left {
					a {
						span {
							margin-right: 3px;
						}
					}
				}

				&--right {
					a {
						span {
							margin-left: 3px;
						}
					}
				}
			}
		}
	}
}