.m11{
	position: relative;

	&__masks{
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 44;
    pointer-events: none;
		transform: scaleY(-1);

		&__shade {
			background: var(--bg);
			height: 100%;
			flex: 1;
			pointer-events: none;
		}
	}

	&.effect--ready{
		.m11__masks__shade {
			animation-name: animateIn;
			animation-duration: 350ms;
			animation-delay: calc(var(--animation-order) * 150ms);
			animation-fill-mode: both;
			animation-timing-function: ease-in-out;
		}
	}
}

