@if $themes==false {

    footer {
        border-top: 2px solid #000;
        padding-top: 30px;
        padding-bottom: 30px;

        h2 {
            font-family: 'Poppins', sans-serif !important;
            color: #000;
            letter-spacing: 6px;
        }

        p{
            font-size: 14px;
            @media only screen and (max-width: $desk-start) {
                text-align: center;
            }
        }

        .grid{
            &__item{
                &__logo{
                    @media only screen and (max-width: $desk-start) {
                        text-align: center;
                    }
                }
            }
        }

        .social-media-links{
            a{
                text-decoration:none;
                color:#000;
                margin-bottom: 15px;
                display: block;
                font-size: 14px;
                display: flex;
                align-items: center;

                svg {
                    height: 13px;
                    width: 14px;
                    margin-right: 5px;
                }
            }
        }
    }

}

@else {}